[2016-04-18 21:57] tylersticka opened #3 "Consider using a navigation helper to determine current page instead of JavaScript"
Currently, the "current page" is identified [using some JavaScript on the client side](https://github.com/cloudfour/drizzle/blob/ea49f40417dd77586bd1000641aa661db48d0283/src/assets/drizzle/scripts/drizzle.js).

It'd be nice if this could be determined during compilation, so while iterating through nav objects we could check for an attribute (`current` or `active` or whatevs) and style things that

[2016-04-20 22:41] tylersticka opened #5 "Topmost collection page headings should be more distinct"
Consider using a `bottom-border` or something similar.

[2016-04-20 22:42] tylersticka opened #6 "Divisions between patterns should be more distinct"
It's not always clear where one pattern starts and another stops. The `<hr>` may be too subtle... we should experiment with rules and whitespace.

[2016-04-20 22:42] tylersticka opened #7 "Patterns should have IDs (and perhaps some anchor helpers)"
It'd be nice to be able to link to a specific pattern heading on a collections page using a `#` hash URL.

[2016-04-20 22:46] tylersticka opened #8 "Page and/or sandbox index designs should be redesigned"
Currently these pages tend to bleed together. Can we make them more distinct? Could we auto-generate preview thumbnails? Lots of opportunities to make these [real nice](http://lol.tylersticka.com/realnice.gif). 👌 😉

[2016-04-20 23:25] tylersticka opened #9 "Default logo maybe should be something generic or placeholder-ish"
Or maybe a Drizzle logo? ¯\_(ツ)_/¯

[2016-04-21 17:58] #5 closed, assigned to tylersticka

[2016-04-21 17:59] #6 closed, assigned to tylersticka

[2016-04-21 18:09] tylersticka opened #11 "Page titles should have defaults"
If `{{title}}` is undefined, we should use the current collection title, or fall back to the project title. It might also be nice to have the project name appended to the title anyway.
## Examples

"Drizzle" represents the project name...

[code]

[2016-04-21 18:40] tylersticka opened #12 "Nav has left border at large sizes"
Probably my fault. 😅

The blue highlight should rest against the edge of the viewport here:

![screen shot 2016-04-21 at 11 40 07 am](https://cloud.githubusercontent.com/assets/69633/14720328/d6a9f74c-07b5-11e6-94f1-dba1a80e7ee2.png)

[2016-04-21 19:37] gerardo-rodriguez commented on #11
I'm assuming the project name is dynamic and accessible as part of the data?

[2016-04-21 19:57] tylersticka commented on #11
I'm honestly not sure! If it isn't, then it probably should be. But that may be a separate issue. Probably not the end of the world if this is baked into the template.

[2016-04-21 21:08] #11 closed, assigned to gerardo-rodriguez

[2016-04-21 21:49] gerardo-rodriguez commented on #7
@tylersticka @erikjung

Trying to work through this one. My thought was to do something like this:

[code]

The issue with this is the `data.name` could be something like `List Elements`. It should instead be `list-elements`. I imagine I need to create a handlebars helper to take care of this? If so, where does the helper get registered? I don't see (within `Drizzle`) any Handlebars helpers regist

[2016-04-21 21:51] tylersticka commented on #7
@mrgerardorodriguez I believe we manage that in a separate repo, and I think there may already be a helper for it: https://github.com/cloudfour/core-hbs-helpers/blob/master/lib/toSlug.js

[2016-04-21 21:52] gerardo-rodriguez commented on #7
@tylersticka Bahahaha! Well then, thank you! 😁

[2016-04-21 22:29] tylersticka opened #15 "Active nav item isn't highlighted at `/`"
If the page "Overview" is at `index.html`, navigating to `/index.html` will highlight it in the nav (applying the `.is-active` class), whereas navigating to `/` will not.

Related: #3

[2016-04-21 22:38] gerardo-rodriguez commented on #7
Can you expand on this @tylersticka?

[2016-04-21 22:45] tylersticka commented on #7
@mrgerardorodriguez Certainly!

Basically, I'm wondering if it would be beneficial to include some sort of `<a>` for the permalink to allow for easy copy-paste of the hash URLs.

I know we've already got text and labels and all sorts of stuff going on, so it may or may not be a good fit for something like this:

![screen shot 2016-04-21 at 3 41 54 pm](https://cloud.githubusercontent.com/assets/696

[2016-04-21 22:45] #15 closed, assigned to nobody

[2016-04-21 23:22] #9 closed, assigned to tylersticka

[2016-04-21 23:22] #12 closed, assigned to tylersticka

[2016-04-21 23:39] #7 closed, assigned to gerardo-rodriguez

[2016-04-22 18:55] tylersticka opened #19 "`blank.hbs` should be easier to extend"
This is a follow-up to my misguided cloudfour/drizzle-builder#81 issue.

The current `blank.hbs` layout looks like this:

[code]

The trouble is that if you want to extend this template and append things to `body` like so:

[code]

It will not work. This appears to be because the `body` block is _nested_ within the `wrapper` block.

My feeling is that we should restructure `blank.hbs` so there's m

[2016-04-22 20:14] gerardo-rodriguez commented on #19
@tylersticka @erikjung I'm assuming this _could_ be done before with Fabricator?

I'm testing this right now and have this as my setup:

#### `blank.hbs`

[code]

#### `default.hbs`

[code]

#### `collection.hbs`

[code]

With this setup, the `secondbody` content in `collection.hbs` is _not_ showing up at all.

[2016-04-22 20:30] erikjung commented on #19
@mrgerardorodriguez

No, we weren't using the layout helpers for page-level templates with that setup (there was no extending of layouts).

Here is an example of the nesting situation _working_ as expected. Not sure why we're running into issues with our stuff.

https://tonicdev.com/erikjung/5719c9333749a112004f164b

I recommend that we rework things to not require any nested blocks.

[2016-04-22 20:43] tylersticka commented on #19
FWIW, if we need to make the layout extensions more shallow and rely more on partials instead, I'm open to that. I just didn't expect to hit a wall with layout extensions the first time I made one!

[2016-04-22 21:18] tylersticka commented on #19
After chatting with @mrgerardorodriguez and getting closer to a PR for the thing I'm working on, I'm actually leaning toward a simple partial being a better way of doing this FWIW. 😆

This issue might still be an issue. Just wanted to mention that in case it takes the pressure off.

[2016-04-22 21:20] erikjung opened #20 ".github directory and PR/issue template files should be added"
Currently, these are in the generator. It makes more sense to bundle them into this repository.

[2016-04-22 23:02] gerardo-rodriguez commented on #19
@tylersticka I was trying to replicate your attempt outside of our environment. Does this match what you were expecting?

https://tonicdev.com/gerardorodriguez/nested-handlebars-block

[2016-04-22 23:04] tylersticka commented on #19
@mrgerardorodriguez It appears to, yes! 😮

[2016-04-22 23:05] #8 closed, assigned to tylersticka

[2016-04-22 23:09] tylersticka opened #22 "Make partial for recurring item header content"
Linked headings with labels recur in multiple partials now (`item.hbs` and `page-item.hbs`). There may be an opportunity to make things more DRY by moving this stuff into a partial.

Originally pointed out by @erikjung on https://github.com/cloudfour/drizzle/pull/21#discussion_r60812454.

See also: cloudfour/drizzle-builder#82, cloudfour/core-hbs-helpers#20

[2016-04-22 23:13] gerardo-rodriguez commented on #19
Hmm...interesting. It's almost as if there is something _special_ within our setup and the `"body"` block within `blank.hbs`.

[2016-04-22 23:14] erikjung commented on #19
@tylersticka @mrgerardorodriguez

I think the flaw may here:

[code]

Defining the `block` within the `content`. We do this, yet I don't see any examples of this in the helper docs: https://github.com/shannonmoeller/handlebars-layouts#helpers

[2016-04-22 23:16] erikjung commented on #19
Also, these test examples are valuable: https://github.com/shannonmoeller/handlebars-layouts/tree/master/test

[2016-04-22 23:17] tylersticka commented on #19
I do see it referenced in this issue, though via helpers other than `{{#content}}`: https://github.com/shannonmoeller/handlebars-layouts/issues/6

[2016-04-22 23:19] tylersticka commented on #19
And the `deep-extend` test example (see @erikjung's link above) seems to be doing all kinds of crazy stuff across multiple extension depths.

[2016-04-22 23:19] gerardo-rodriguez commented on #19
@erikjung @tylersticka Doesn't [this example in tonicdev](https://github.com/cloudfour/drizzle/issues/19#issuecomment-213619022) prove, though, that what Tyler wanted to do is possible?

[2016-04-22 23:21] gerardo-rodriguez commented on #19
BTW, looking back at my [first example](https://github.com/cloudfour/drizzle/issues/19#issuecomment-213574591), we should disregard that. It is inaccurate and _not_ what @tylersticka was trying to do.

[2016-04-22 23:24] gerardo-rodriguez commented on #19
Yes, indeed.

[2016-04-22 23:26] tylersticka commented on #19
Yes, what you shared in [that comment](https://github.com/cloudfour/drizzle/issues/19#issuecomment-213619022) matches what I wanted to do. And it appears to be possible.

At this point, I've already accomplished the thing I initially wanted to use layouts for, so I'm not sure how to prioritize. But it certainly seems as if we've lost some of the magic superpowers of `handlebars-layouts` along the

[2016-04-22 23:45] tylersticka opened #23 "Smarter nav tree building?"
If history repeats itself, our patterns will tend to fall into a structure similar to this:

[code]

Currently, there does not appear to be a concise way of building that _entire_ nav tree in the desired order without marking up top-level and deeper pattern groups separately, like so:

[code]

I'd love if there were a better way of doing this, either a way of looping over all the collections and t

[2016-04-23 00:50] erikjung commented on #23
There was an effort towards a solution like this, but it's only partially implemented: https://github.com/cloudfour/drizzle-builder/pull/71

I'll cross-reference this issue in the builder repo and revisit the WIP to see where things stand.

[2016-04-25 21:56] tylersticka opened #24 "Frontmatter field for adding classes to preview"
Sometimes we may want to add a class like `u-spaceChildren` or `u-rhythm` to the example output w/o adding additional markup to the source preview. Other times, it's better to keep things simple. It would be nice if we could specify classes via pattern frontmatter and have them appended to the pattern container.

[2016-04-25 22:01] erikjung commented on #24
A good idea 👍

[2016-04-25 22:35] #24 closed, assigned to tylersticka

[2016-04-26 00:04] tylersticka opened #27 "Update to latest helpers"
Latest version is `0.2.0`.

See cloudfour/core-hbs-helpers#21

[2016-04-26 22:07] #22 closed, assigned to gerardo-rodriguez

[2016-04-26 22:57] tylersticka opened #28 "Page item and label header markup has some quirks"
- There's too much margin above the titles at large sizes (should probably be margin below thumbs instead).
- We should override padding on labels in case a project doesn't (they are a `<ul>` currently).
- We should allow pattern titles to wrap (not sure why we aren't).

[2016-04-26 23:12] gerardo-rodriguez commented on #27
Is this a matter of updating the `package.json`?

From this:

[code]

To this?

[code]

[2016-04-26 23:21] tylersticka commented on #27
@mrgerardorodriguez I guess? ¯\_(ツ)_/¯

I'd have to consult Google or the `npm` docs. Or bug @erikjung. My standard information repositories these days.

[2016-04-26 23:41] erikjung commented on #27
@mrgerardorodriguez Yes, just the `package.json`.

[2016-04-26 23:58] #27 closed, assigned to gerardo-rodriguez

[2016-04-27 15:24] gerardo-rodriguez commented on #19
Removing myself from assignment for now since I'm not actively looking to solve this.

[2016-04-27 20:35] tylersticka opened #31 "Documentation"
We need more. 😁
- [ ] Update this issue description with more specific to-dos

[2016-04-27 20:38] tylersticka commented on #23
One more note related to this: Ideally, this feature would include an update to the default Drizzle UI that nested one or more example components inside of a collection (i.e., "Components/Button" instead of just "Button").

[2016-04-27 20:40] tylersticka opened #32 "Make Drizzle CSS config simpler"
Right now, many of the Drizzle CSS components rely on custom properties like `--color-blue`. It would be nice if these all relied on a small selection of base variables to make customization of the style even simpler.

[2016-04-27 20:48] tylersticka opened #33 "Where to put favicon, other root assets?"
The simplest method of including `favicon.ico` is in the root directory, which also avoids any 404 requests in the browser. Many static generators have an `htdocs` or `static` directory for assets that should be copied over verbatim. It would be nice to not have to specify `<link>` elements for this info.

[2016-04-27 21:18] tylersticka opened #34 "Should we reinstate boilerplate color swatches?"
The only two projects that use Drizzle so far have both restored the color swatches. That suggests to me that we should consider adding them back.

I'd like if we abandoned the design we inherited from Fabricator. Some ideas for improvement might be:
- Put gutters between swatches to avoid any unrealistic (and unnecessary) color combinations.
- Avoid situations where a smaller amount of secondary

[2016-04-27 21:26] tylersticka opened #35 "Boilerplate listable FPO data"
The typographic specimens are awesome. But I also need this sorta stuff on most (if not all) projects:
- List of user info ([example](http://www.radfaces.com/))
- List of article-like content (title, author, date, excerpt, body)

It'd be pretty great to have some of that included and ready to go, even/especially if it just gets edited to suit project needs. It might also help demonstrate that the

[2016-04-28 07:52] erikjung commented on #34
I think that having them included is fine. I agree with the design changes, and I also wonder if we can achieve them using SUIT CSS classes instead of making component CSS for them.

This gets pretty close:

[code]

[2016-04-28 07:59] erikjung commented on #33
Perhaps we should include these by default:
- `assets/static/favicon.ico`
- the `assets` task, configured to copy `assets/static/**/*` to `dist`

[2016-04-28 08:07] erikjung commented on #31
Fabricator's docs are a good example to measure against: http://fbrctr.github.io/

[2016-04-28 16:14] tylersticka commented on #34
We could also use an inline `<svg>` element if we wanted to make the `<img>` act like an actual image...

[code]

[2016-04-28 16:55] erikjung commented on #34
That seems like what some would call a better idea 👍

[2016-04-28 18:14] tylersticka opened #36 "Bump core-hbs-helpers version"

[2016-04-28 22:56] nicolemors opened #38 "Adding Modular Scale"
Maybe it's a good idea to add in Modular Scale to the boiler plate?

[2016-04-29 19:50] erikjung commented on #19
Changes applied by this PR should also be incorporated here: https://github.com/cloudfour/cloudfour.com-patterns/pull/155

[2016-04-29 19:53] erikjung opened #39 "HTML beautifier needs more adjustment"
Things noticed recently:
- The attribute wrapping might not be worth it to enable
- Extra blank lines are retained
- Mysterious extra whitespace following `</a>` within a lines of text

![screen shot 2016-04-29 at 12 52 55 pm](https://cloud.githubusercontent.com/assets/61204/14927873/5b4a263a-0e09-11e6-8d00-57e1deb167c5.png)

[2016-05-03 00:12] erikjung opened #40 "Make assets task registered and configured by default"
Currently, the assets task from https://github.com/cloudfour/core-hbs-helpers is present as a dependency, but is not registered or configured in `gulpfile.js` or `config.js` respectively.

Since it's common to need images and other static assets copied into `dist`, this task should probably be enabled and ready to go.
### Questions
- Which folder location makes the most sense for sourcing? We've u

[2016-05-03 18:29] erikjung commented on #36
@tylersticka I believe this was done?

https://github.com/cloudfour/drizzle/commit/4d9ae5cb9a33015c1ffc614c2ab452b7978ff504

[2016-05-03 18:31] erikjung commented on #33
This relates to #40

[2016-05-03 18:33] erikjung commented on #3
This relates to #23

[2016-05-03 19:06] tylersticka commented on #36
We did it, @erikjung.

We did it.

High fives all around.

[2016-05-03 19:06] #36 closed, assigned to nobody

[2016-05-04 16:59] erikjung opened #41 "Simplify paths"
https://github.com/cloudfour/drizzle-builder/issues/86

[2016-05-04 17:00] erikjung opened #42 "Support order overrides via frontmatter for pages"
https://github.com/cloudfour/drizzle-builder/issues/85

[2016-05-04 17:02] erikjung opened #43 "Base URL template variable does nothing"
Original issue: https://github.com/cloudfour/drizzle-builder/issues/63
### TODO
- [x] Change builder config so that the `dest` paths for pages, patterns, etc. all assume a common root folder (e.g. `./dist`)

[2016-05-04 17:12] megnotarte commented on #43
Feels like a Medium, but warrants more investigation.

[2016-05-04 17:15] megnotarte commented on #42
Med- Large

[2016-05-04 17:16] megnotarte commented on #41
This might be done with the data helper @erikjung is working on.

[2016-05-04 17:17] #41 closed, assigned to nobody

[2016-05-04 17:17] megnotarte commented on #40
Small

[2016-05-04 17:19] megnotarte commented on #40
@tylersticka doesn't have a strong opinion but is used to it under `src`. No one else seems to have a preference. @erikjung said he'll put it next to where the stylesheets for the toolkit live.

[2016-05-04 17:20] megnotarte commented on #39
Small

[2016-05-04 17:22] megnotarte commented on #38
@nicolemors isn't sure if this should be added. Let's target a future release and discuss further.

[2016-05-04 17:23] megnotarte commented on #35
Low priority. Small.

[2016-05-04 17:25] megnotarte commented on #34
Small

[2016-05-04 17:31] megnotarte commented on #33
No one seems to feel strongly about where this lives. If this gets too big, this doesn't necessarily need to make it into 1.0

[2016-05-04 17:34] megnotarte commented on #32
Small

[2016-05-04 17:36] megnotarte commented on #31
Large.

[2016-05-04 17:38] megnotarte commented on #31
Initially, we could include the docs in GitHub. In the future, we could create a separate site.

[2016-05-04 17:38] megnotarte commented on #28
Small

[2016-05-04 17:40] megnotarte commented on #23
Large

[2016-05-04 17:44] megnotarte commented on #19
Small - Med

[2016-05-04 17:51] megnotarte commented on #31
@nicolemors @tylersticka Can you both start by providing some information about what would be helpful with getting started? @saralohr if you want to install and give it a go that works

[2016-05-04 17:57] megnotarte opened #44 "Project name should be used in relevant templates"
https://github.com/cloudfour/generator-drizzle/issues/9

Small

[2016-05-04 23:08] tylersticka commented on #34
@nicolemors @saralohr @erikjung @mrgerardorodriguez How do we feel about [this prototype I whipped up](http://codepen.io/tylersticka/pen/QNzgVZ)?

Instead of a `border-top`, each swatch is an inline `<svg>`. This has a few benefits. Firstly, the sample actually has semantic meaning now... I'm marking this up with `<figure>` because, even if no CSS loads, the image will be retained. But it also mea

[2016-05-04 23:12] saralohr commented on #34
I dig it.

[2016-05-04 23:26] erikjung commented on #34
@tylersticka I like this too.

[2016-05-04 23:29] gerardo-rodriguez commented on #34
Nice! I agree, great work @tylersticka! 👍

[2016-05-04 23:37] tylersticka commented on #34
Thanks, all!

Just to confuse things, I also did this variation: http://codepen.io/tylersticka/pen/reowXa

I don't think I like it as much because I find it slightly harder to read. But figured I'd share just for the heck of it. 😁

[2016-05-05 16:03] gerardo-rodriguez commented on #34
@tylersticka Oh, neat! I hadn't heard of `TinyColor`, that's cool. I like the idea, but you are right, some of the white text color is a bit harder to read.

[2016-05-05 16:26] saralohr commented on #34
I do like the cleanliness of R3, but the color name info is kinda nice in R2, and it's a tad easier to read. I'm good with either of these options.

[2016-05-05 21:04] #34 closed, assigned to tylersticka

[2016-05-06 23:13] tylersticka commented on #33
Okay, I think I finally have an opinion on this. I wanted to share my "plan of attack" with @erikjung and @mrgerardorodriguez first before proceeding.

## Directory Structure

I'm going to set aside for a moment the question of "is `assets/` the right place for styles, scripts and/or images we plan on processing or compiling in some way?" That's a decent question, and I have opinions about it, but

[2016-05-06 23:24] gerardo-rodriguez commented on #33
Works for me! 👍

[2016-05-07 00:26] erikjung commented on #33
Can we just call the task `copy` instead of `static` since it could in theory be used on any directory?

Otherwise, 👍

[2016-05-09 15:30] tylersticka commented on #33
Sure, totally fine by me.

[2016-05-09 17:03] #33 closed, assigned to tylersticka

[2016-05-09 17:03] #40 closed, assigned to tylersticka

[2016-05-09 17:38] erikjung commented on #39
Closed via #48

![screen shot 2016-05-09 at 10 37 26 am](https://cloud.githubusercontent.com/assets/61204/15122044/18765952-15d2-11e6-93ca-e12868fa2765.png)

[2016-05-09 17:38] #39 closed, assigned to erikjung

[2016-05-09 22:20] tylersticka commented on #31
Just riffing on what I'd ask if I were a designer-developer new to the project...
- What is Drizzle? What does it do?
- How do I start using it? (Download, clone, installation)
- How are things structured?
  - Patterns
  - Pages
  - Templates
  - Available helpers
- Where do assets live?
- What can I customize?
- Examples
  - Style guide
  - Prototype sandbox
- Where can I go for help, to contribu

[2016-05-10 17:34] #35 closed, assigned to gerardo-rodriguez

[2016-05-10 20:55] gerardo-rodriguez commented on #31
Which type of structure (Patterns, Pages, Templates) can use Front Matter? (Note: This can be found in the `drizzle-builder` repo, but would a new user know to look there?

[2016-05-10 21:20] gerardo-rodriguez commented on #19
Sharing some findings...

If I modify in `drizzle-builder` [line 28 of `render/pages.js`](https://github.com/cloudfour/drizzle-builder/blob/master/src/render/pages.js#L28) from this:

[code]

to this:

[code]

you can successfully extend and use _append_ or _prepend_ with the `body` block and the appropriate `mode` value giving the expected result in @tylersticka's original attempt.

I feel uncomf

[2016-05-10 23:00] gerardo-rodriguez commented on #19
Keep in mind, the issue we are running into only applies to any blocks that are named `body`. For example:

### `blank.hbs`

[code]

### `another-layout.hbs`

[code]

I wanted to point this out to to clear up an earlier assumption we had where we believed the issue was because the `body` block was _nested_ within the `wrapper` block.

This example proves our initial hypothesis was incorrect.

[2016-05-11 15:21] tylersticka opened #49 "Electron app for Terminal-phobes"
One issue we've experienced a few times is a hesitance from collaborators to use our environment because the Terminal can be scary when you aren't used to it.

I mentioned this idea in #31, but having seen that [Electron reached `v1.0.0` today](https://github.com/blog/2167-electron-1-0-is-here), I thought I should document the idea of creating some sort of Drizzle app that might simplify the proce

[2016-05-11 15:22] tylersticka opened #50 "Logo + icon"
We should totally have these! :)

@saralohr @nicolemors @aileenjeffries

[2016-05-11 18:34] gerardo-rodriguez commented on #19
## What I've gathered

After doing some more digging, testing as well as chatting with @erikjung, I now have a much better grasp of what is going on.

To help explain, let's use these:

### `templates/blank.hbs`

[code]

### `templates/my-custom-layout.hbs`

[code]

### `pages/test-page.hbs`

[code]

The way things are setup right now, the `<p>We expect this content to be appended.</p>` will never

[2016-05-11 18:40] tylersticka commented on #19
So to summarize the core issue, if you use `{{#content mode="append"}}`, _followed by_ `{{#content mode="replace"}}` (which is the default), it will replace _everything_ (default, appended, prepended, etc.). I guess that makes sense.

In that case, I kinda think one of my original suggestions might still make sense:

[code]

The main reason I think this might be a good idea is that I think it will

[2016-05-11 18:59] erikjung commented on #19
@mrgerardorodriguez To clarify...

What is the fix for the original issue? https://github.com/cloudfour/drizzle-builder/issues/81

Specifically, what would need to change in the _page_ itself (not in any template) in order for @tylersticka's hypothetical "Hello world" example to work?

[2016-05-11 20:29] gerardo-rodriguez commented on #19
@erikjung: Regarding the "Hello world" example in https://github.com/cloudfour/drizzle-builder/issues/81, if we assume:

You would update the page from this:

[code]

To this:

[code]

[2016-05-11 20:39] gerardo-rodriguez commented on #19
@tylersticka Yes and no? So, in [the example I posted today](https://github.com/cloudfour/drizzle/issues/19#issuecomment-218549381), here's what happens.

`templates/my-custom-layout.hbs` sets its `mode` to `append` _and_ also has content.

`pages/test-page.hbs` (with only front matter and no `{{#extend}}`) has content and will have a `mode` of `replace` because of how `drizzle-builder` is setup r

[2016-05-11 20:43] erikjung commented on #19
@mrgerardorodriguez IMO, this seems reasonable enough. Maybe I'm just struggling to come up with a more solid way to improve the template extension in general, but if this issue can be bypassed altogether with this small adjustment, maybe that's sufficient for now?

[2016-05-11 20:44] tylersticka commented on #19
I think that's sufficient for now, though as I said before, I do think adding a blank `foot` block to `blank.hbs` would be a nice usability default.

[2016-05-11 20:55] gerardo-rodriguez commented on #19
I'm fine with this as well for now.

I'm fine by this, I can make these changes. Any objections @erikjung?

[2016-05-11 21:13] erikjung commented on #19
@mrgerardorodriguez No objections from me.

[2016-05-11 23:08] erikjung commented on #49
Meant to comment earlier, but I like this idea.

Do you see this as something similar to CodeKit.app?

[2016-05-11 23:32] tylersticka commented on #49
Basically, yeah. But way simpler. Probably closer to [Tusk](http://tusktheapp.com/) + [Compass.app](http://compass.kkbox.com/) in complexity.

Here's a silly sketch:

![img_1026_opt](https://cloud.githubusercontent.com/assets/69633/15199692/52a91c26-1795-11e6-879b-3e338916c137.jpg)

Basically, I think it would be cool if the process of getting clients into our environment was...
1. Install the Git

[2016-05-12 15:54] erikjung commented on #50
![1418695251434](https://cloud.githubusercontent.com/assets/61204/15221148/1d458e9a-181f-11e6-9719-58c61f0f7a46.jpeg)

[2016-05-12 21:48] gerardo-rodriguez commented on #49
I also like this idea! I don't know the amount of work it'd be, but I think it'd be a neat project!

[2016-05-12 22:03] tylersticka opened #51 "Consider adopting timeline (or similar view) for default overview/intro page"
I was reminded of this by [this Smashing post](https://www.smashingmagazine.com/2016/05/design-systems-responsive-design-sell-output-not-workflow/) that @megnotarte shared. Specifically:

Right now, our "Overview" page is pretty useless. It gives a partially redundant introduction to the platform, repeats the navigational elements, and sometimes dumps the color palette there. I think there's an op

[2016-05-13 17:33] gerardo-rodriguez commented on #19
@tylersticka Should this be considered "done"?

[2016-05-13 17:34] gerardo-rodriguez opened #53 "Restructure `blank.hbs` to use `body` and `main` over `wrapper` and `body`"
@tylersticka made a great suggestion [in this conversation](https://github.com/cloudfour/drizzle/pull/52#issuecomment-218939187):

This will include updates to [`drizzle-builder`](https://github.com/cloudfour/drizzle-builder/blob/8156dd60a548aa5df7bdcfce5b2d04557c6f3084/src/render/pages.js#L27-L28).

[2016-05-13 17:50] tylersticka commented on #19
@mrgerardorodriguez I think so, especially since #53 exists now (which will carry the torch of this issue).

[2016-05-13 17:51] #19 closed, assigned to gerardo-rodriguez

[2016-05-13 17:55] tylersticka opened #54 "Could toolkit scripts be easier to create?"
Currently, creating new toolkit scripts requires you to create a new file, then add a somewhat redundant item to `config.js`:

[code]

It seems like this could be simplified, at least so that the `toolkit/scripts` directory doesn't need a new entry for every single root JS package. But I might be missing something.

[2016-05-13 20:58] erikjung commented on #54
Regarding sandbox/demo page scripts, I'm wondering if webpack should even be used. It's purpose is to resolve modules and bundle them together...so it seems like adding more entries for individual pages is the wrong solution for simply making those scripts available.

What about figuring out some way to use the `copy` task to move the downloaded scripts into `dist`?

[2016-05-13 20:59] gerardo-rodriguez commented on #54
Good point @erikjung. Seems worth considering for sure.

[2016-05-13 21:00] tylersticka commented on #54
Yeah, that's probably a better idea.

I don't even know if we'd need to _do_ anything.

I'm pretty sure as long as the path is `static/assets/scripts/toolkit/`, it'll just merge with whatever else the build outputs to that directory.

[2016-05-13 22:28] gerardo-rodriguez commented on #28
Hey @tylersticka, could I get some clarification from you on these tasks? Maybe some screenshots?

Not sure what this is describing. :)

This isn't clear to me either. :P

Is this referring to the `<pre>` code?

Thanks!

[2016-05-13 22:40] tylersticka commented on #28
Currently the page titles have margin above them. This is fine at small sizes:

![screen shot 2016-05-13 at 3 31 28 pm](https://cloud.githubusercontent.com/assets/69633/15263559/0a16111c-1920-11e6-8d4f-91f0764e9e6d.png)

But at larger sizes when the layout shifts, the upper margin looks kinda funky. This isn't super noticeable until you have a longer description, which we do in other projects:

![

[2016-05-13 22:42] gerardo-rodriguez commented on #28
Cool, thanks @tylersticka! 😀

[2016-05-13 22:44] saralohr commented on #31
When I was messing around with the Drizzle logo, it wasn't immediately apparent to me that all classes are namespaced with `drizzle`, since they do not appear that way in the CSS files. It took me looking at the compiled `drizzle.css` to figure out why the classes I applied were having no effect. This could be a good tidbit for the "Customizing Drizzle" section.

[2016-05-16 19:22] #28 closed, assigned to gerardo-rodriguez

[2016-05-16 20:09] saralohr commented on #50
Fixed by #55

[2016-05-16 20:09] #50 closed, assigned to nobody

[2016-05-16 21:19] #53 closed, assigned to gerardo-rodriguez

[2016-05-16 22:08] erikjung commented on #44
More info on the plan of attack for this...

The generator is going to be updated to output a default Drizzle data file for template consumption.

For example, if "My Project" is supplied as a project title during the generator prompting, then a file like this will be created:

[code]

and the resulting Drizzle templates will be able to use it as regular data:

[code]

This data file approach will

[2016-05-16 22:57] gerardo-rodriguez opened #58 "Longer project title gets cut off"
![screen shot 2016-05-16 at 3 55 49 pm](https://cloud.githubusercontent.com/assets/459757/15306357/ca92f5bc-1b7e-11e6-8709-6a5dda5ef485.png)

[2016-05-16 23:28] saralohr commented on #58
Ah, I wasn't envisioning this as a generated field, more as a self contained logo that could be manually replaced. If it is dynamic we can use a different approach for the title rather than including it in the SVG.

[2016-05-16 23:32] gerardo-rodriguez commented on #58
I see. Yep, https://github.com/cloudfour/drizzle/issues/44 introduces a [generated title field](https://github.com/cloudfour/drizzle/blob/master/src/templates/drizzle/logo.hbs#L5) that will live in the [project.yaml](https://github.com/cloudfour/drizzle/blob/master/src/data/project.yaml). :)

[2016-05-16 23:48] tylersticka commented on #58
As mentioned in my conversation earlier with @erikjung, I don't think this area _should_ be dynamic. Originally it was text-based, but I think that's a bad idea now that there's a logo there. And it would be weird to have the Drizzle icon next to some other type.

I _do_ think the project name should populate the `<title>` element in the head, though.

[2016-05-16 23:58] gerardo-rodriguez commented on #58
@tylersticka Ah, right! I forgot about that. Sorry! I'll create a new PR that removes this for the logo. 😉

[2016-05-17 00:05] gerardo-rodriguez commented on #58
No longer an issue, closing! 😁

[2016-05-17 00:05] #58 closed, assigned to saralohr

[2016-05-17 00:09] #44 closed, assigned to gerardo-rodriguez

[2016-05-17 22:16] erikjung commented on #23
@tylersticka

I agree, and I think this should be encouraged. I can make a PR for that soon.

Aside from this, is there anything else we feel is absolutely required before marking this as complete?

[2016-05-17 22:20] erikjung commented on #42
With the addition of the `pages` helper with a `sortby` hash option, I believe this has been satisfied for _pages_. Not for collections quite yet.

Any `order` added to the front-matter of a page can now be sorted against while using the related helper.

[2016-05-17 22:25] tylersticka commented on #23
I don't think so? It's hard to say without seeing the potentially "final" product.

[2016-05-17 23:39] erikjung commented on #23
This file is probably the best demonstration:

https://github.com/cloudfour/drizzle/blob/master/src/templates/drizzle/nav.hbs

[2016-05-17 23:41] tylersticka commented on #23
So what about a top-level folder _without_ an index, like "Components"? I'm curious if the departures from my example in the description (`<h5>Components</h5>`) are intentional choices or not.

[2016-05-18 00:00] erikjung commented on #23
To be clear, an index page is never a requirement, but here's what iterating over the components would look like for a typical project:

[code]

As seen in https://github.com/cloudfour/drizzle-builder/pull/91

[2016-05-18 00:17] tylersticka commented on #23
Is there any way of telling if those collections contain any patterns directly, or contain only collections?

I'm basically asking if there's an intelligent way of determining when a folder should be used as an organizational heading or when it should be a link. And to me, that would be determined based on what's inside of it, right?

[2016-05-18 17:37] erikjung commented on #23
@tylersticka

Re-reading this issue, I'm realizing that the current helpers probably aren't going to get us to where we want to be. They all return flat arrays based on the path query.

Is this code an accurate description of what you'd _like_ to do?

[code]

[2016-05-18 17:46] tylersticka commented on #23
Almost. In your example, I'm not sure why we'd output the `<a>` _and_ the `<h5>`. I'm not even sure if pages and collections need to be in the same `<ul>`.

Basically, I want to be able to ape the sort of navigation that [Solid](http://solid.buzzfeed.com/) does:

![screen shot 2016-05-18 at 10 41 52 am](https://cloud.githubusercontent.com/assets/69633/15369003/76f07e26-1ce5-11e6-9f1b-c771807a6ce5.

[2016-05-18 21:00] erikjung commented on #23
@tylersticka

We can recreate it currently, but not within one top-level loop. For example:

[code]

[code]

![screen shot 2016-05-18 at 1 56 32 pm](https://cloud.githubusercontent.com/assets/61204/15374704/6b5e9e74-1d00-11e6-8b9e-94bc27eb3cd5.png)

[2016-05-18 21:05] tylersticka commented on #23
Yep, that's basically the same way we did this sorta thing in Fabricator.

I'd like to be able to build that sorta nav by checking if "Components" has any immediate children or only collections. That would let me build it with a single loop, and not copy and paste chunks of code every time I add a similar category.

If there's still confusion, we should chat about it with voices.

[2016-05-18 21:09] tylersticka commented on #23
In case it's helpful, here's a hypothetical Handlebars template I'd love to write (if it were possible):

[code]

[2016-05-19 22:30] gerardo-rodriguez commented on #31
- Where does my JS go?
- If it is a sandbox/prototype, should my JS go somewhere specific?
- If it is JS for a component/pattern, where does that go?
- Any suggested patterns to follow?

[2016-05-19 22:56] erikjung commented on #42
Going to close this for now, via #61

[2016-05-19 22:56] #42 closed, assigned to erikjung

[2016-05-19 23:10] erikjung commented on #3
Noting this for future consideration: https://github.com/helpers/handlebars-helper-isActive

[2016-05-20 00:20] erikjung commented on #43
Closed via #62

[2016-05-20 00:20] #43 closed, assigned to erikjung

[2016-05-20 15:45] tylersticka opened #63 "Default pattern `name` is being ignored in the collection template"
Apologies if this is specific to `cloudfour.com-patterns` (happy to close this issue if so), but I've been encountering behavior I don't really expect.

If I create a pattern called `foo-bar.hbs`, my expectation is that it's default `name` (if I fail to provide one) will be "Foo Bar." I'd say about 50 - 75% of the time, replacing `-` with ` `and capitalizing each word in the result will give the d

[2016-05-20 16:53] erikjung commented on #63
There is a default. Assuming you're noticing this on the collection pages, it looks like this issue you're seeing might be due to this:

https://github.com/cloudfour/drizzle/blob/master/src/templates/drizzle/item.hbs#L4-L6

We're looking for `data.name` instead of `name`. After examining the builder tests a bit, it appears that `name` will be overridden by supplying a `data.name`. So we should cha

[2016-05-23 20:03] erikjung commented on #63
Closed via #64

[2016-05-23 20:03] #63 closed, assigned to erikjung

[2016-05-25 23:13] tylersticka opened #66 "Surprise! Tyler still has issues with `order`"
I know, I know, I've already talked a _ton_ about this in cloudfour/drizzle-builder#31. But it's still not working the way I'd like it to, and I thought I'd document that (even if it has to wait for a future version to be resolved).
## The Problem

Here's a hypothetical collection of patterns:

[code]

By default, these will show up in the same order as above... whatever the file system determines

[2016-05-25 23:53] erikjung commented on #66
@tylersticka I'm fine with using negative values, but I'd like to consider a few things:

Because we now have helpers that can sort by _any_ property, we might want to focus on creating a common sorting function that possesses the logic to infer default values (e.g. `0`) and that isn't limited to just properties named "order".

[2016-05-25 23:57] erikjung commented on #66
Also, here's the library used by the helpers: https://github.com/bubkoo/natsort

[2016-05-26 18:07] erikjung commented on #23
@tylersticka How closable does this feel with https://github.com/cloudfour/drizzle-builder/pull/95 in place?

(Keeping in mind that we _can_ reopen it later.)

[2016-05-26 18:09] tylersticka commented on #23
@erikjung Go for it.

[2016-05-26 18:17] #23 closed, assigned to erikjung

[2016-05-26 21:03] saralohr opened #67 "Favicon"
Create and add 'em.

[2016-05-26 21:10] tylersticka commented on #67
There's already one, but we should update it. See: #47

[2016-06-06 18:05] erikjung opened #68 "There is no way to hide an entire collection if all patterns need to be hidden"
For example,

`src/patterns/foo` has two patterns, both of which should be hidden.

Adding a `collection.yaml` to this directory with the contents of `hidden: true` should make the `Foo` collection hidden from iterators, etc.

Currently, attempting to do this results in an error with the builder:

[code]

/CC @aileenjeffries @mrgerardorodriguez

[2016-06-06 23:26] erikjung opened #69 "Update "core-" dependency endpoints"
Re: https://github.com/cloudfour/core-hbs-helpers/issues/40, https://github.com/cloudfour/core-gulp-tasks/issues/46
- [x] Update **package.json** `devDependencies` to replace helpers package
- [x] Update **package.json** `devDependencies` to replace tasks package
- [x] Update **gulpfile.js** to use new package names

[2016-06-07 23:26] tylersticka opened #70 "Demo site"
We need a publicly-accessible demo! 😃

This could be a Netlify site, or we could use something like [`gulp-gh-pages`](https://www.npmjs.com/package/gulp-gh-pages) to use GitHub pages.

[2016-06-08 00:07] erikjung commented on #70
So, I see this as:

**Option A: Netlify**
- [ ] Create `drizzle-demo` repo
- [ ] Hook up Netlify integration
- [ ] Commit the contents (`dist`) of a build to the master branch of that repo

**Option B: GitHub Pages**
- [x] Create a `gh-pages` branch on this repo
- [x] Add a task (or some automation) to get the contents of a build into that branch

Option B seems more painless to me. One less repo

[2016-06-08 00:13] tylersticka commented on #70
@erikjung I agree!

[2016-06-08 19:46] tylersticka opened #74 "Doesn't work on Windows"
If you attempt to run this repo on Windows, you'll get complaints about missing partials (specifically `drizzle.swatch` for me). Possibly something unix-centric about the way partial paths are generated?

[2016-06-08 21:15] erikjung commented on #70
Closed via #72

[2016-06-08 21:15] #70 closed, assigned to erikjung

[2016-06-09 00:21] erikjung commented on #69
Closed via #75

[2016-06-09 00:21] #69 closed, assigned to erikjung

[2016-06-10 01:04] erikjung opened #76 "Gulp tasks should get `description` property"
This applies mostly to https://github.com/cloudfour/core-gulp-tasks, but it would be nice to get descriptions with `gulp --tasks`.

[2016-06-10 14:45] Nopzen opened #77 "npm run build"
After have run the simple npm start and installed all packages, and then added a new component file, i try to build the project, when running `npm run build` i get and npm error:

[code]

But running the `npm prestart` runs the `npm install` fine and calling the `npm start` calles the `gulp --dev` it starts up the server with the correct stuff inside :)

Im creating a easy fix for this guys! Other

[2016-06-10 15:53] saralohr opened #79 "Make sure "e" isn't cut off on Drizzle logo"
Comment on Drizzle blog post:

From @tylersticka:

[2016-06-10 18:49] erikjung commented on #77
Closed via #78

Thanks @Nopzen.

[2016-06-10 18:49] #77 closed, assigned to nobody

[2016-06-12 02:28] jralison commented on #74
Found same problem on Windows 10, with npm 3.9.3 and node v6.2.1.

[2016-06-12 06:10] erikjung commented on #74
@tylersticka Can you provide the error output?

I'm assuming this to be a builder issue, but didn't see anything obvious in the areas dealing with partial registration.

[2016-06-12 06:20] jralison commented on #74
[code]

[2016-06-13 16:50] tylersticka commented on #74
@jralison Thank you!

@erikjung That's the same error I was seeing.

[2016-06-13 18:16] erikjung commented on #74
After digging into this a bit, I've found that this is indeed a builder issue (https://github.com/cloudfour/drizzle-builder/issues/96) and that this affects _all_ partials. For reasons TBD, the code that constructs the partials "paths" is failing to provide the expected `drizzle.` prefix on Windows.

[2016-06-13 18:46] erikjung commented on #74
@tylersticka

Kinda, yeah.

https://github.com/cloudfour/drizzle-builder/issues/96#issuecomment-225672010

[2016-06-14 21:00] mattWillis opened #81 "Invalid name: "@cloudfour/hbs-helpers""
I am really excited to check out your project! However, when running `npm start` or `npm install` it bombs out when trying to install the @cloudfour/gulp-tasks and @cloudfour/hbs-helpers modules because of an invalid module name.

npm ERR! Darwin 15.4.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "i"
npm ERR! node v5.6.0
npm ERR! npm  v3.6.0

npm ERR! Invalid name: "@cloudfour/hbs-hel

[2016-06-14 21:24] erikjung commented on #81
@mattWillis This appears to be a known problem with npm, based on some [similar issues](https://github.com/filamentgroup/grunticon/issues/280).

Can you try installing that package by itself?

[code]

Also, are you by chance behind a proxy or using an internal npm registry?

[2016-06-14 22:22] mattWillis commented on #81
@erikjung thanks for getting back to me. I tried installing the packages individually as well with no luck. Yeah also I saw the issue you posted, it seems to be an error with the "@" symbol. To test this I ran an `npm init` and tried to include an "@" in the package name and received the following: `Sorry, name can only contain URL-friendly characters.`

Do you mind if I ask why Cloud Four is usin

[2016-06-14 23:11] erikjung commented on #81
@mattWillis

This is the naming scheme for scoped packages:
https://docs.npmjs.com/getting-started/scoped-packages

(See the above URL regarding `npm init`)

We decided to scope mainly because the tasks and helpers are catered very much to our needs and weren't initially intended to be standalone packages.

[2016-06-14 23:25] erikjung commented on #81
@mattWillis

We'll look into how others have resolved the sporadic issues with scoped names.

One possible workaround you can try is to install from the repository instead of the npm registry:

[code]

(`sudo` might be needed if you get permission-related errors.)

The package name will be the same, so this might not resolve the problem, but it's worth a shot.

[2016-06-15 04:00] jacobtyq opened #82 "Unable to put new folders into pattern folder"
There seems to be no way of adding a new folder or using other folder names aside from 'Components' and 'Elements'. I tried changing the folder names to 'Atoms', 'Modules', 'Organsims', re-run `gulp --dev` but sidebar still shows 'Components' and 'Elements' at the side.

[2016-06-15 15:46] tylersticka commented on #82
@jacobtyq At the moment, you have to manually add new collections to the `src/templates/drizzle/nav.hbs` file. See examples here: https://github.com/cloudfour/drizzle/blob/master/src/templates/drizzle/nav.hbs#L31-L45

More info about the helpers in use there: https://github.com/cloudfour/drizzle/tree/master/docs#helpers

If you already updated that file and it still isn't working, then that sounds

[2016-06-16 14:16] lukeaskew opened #83 "Back-end Integrations"
Awesome work Cloud Four team 👏

Thought I'd toss out a question I receive a lot when using Fabricator - I'm often asked if there is a way to easily bridge the gap between Fabricator and a back-end system. I designed Fabricator to be agnostic of whatever system it might be integrated into, but often its used as an initial phase of development for a single site, not a suite of sites that use a share

[2016-06-16 15:15] grigs commented on #83
OMG @LukeAskew. That is the holy grail of pattern libraries isn't it?

FWIW, I've talked to a lot of organizations about this topic and very few are doing it successfully. It is something that I'm constantly asking people about to see if others have solved it well.

Outside of Fabricator or Drizzle, the Lonely Planet and Financial Times have both written about their projects to tie their pattern l

[2016-06-16 15:16] erikjung commented on #83
Thanks @LukeAskew

This is a great question that we're currently trying to answer for our own site. We actually just began integrating https://github.com/cloudfour/cloudfour.com-patterns into our backend this week (CC @mrgerardorodriguez).

We're including the pattern library as a submodule within the backend repository, and using npm scripts to build the static output (so that the resulting CSS a

[2016-06-16 15:23] tylersticka commented on #83
Thanks for the kind words, @LukeAskew!

I agree with everything @grigs and @erikjung said, but wanted to add one non-theoretical point. One common motivator for building a pattern library is to foster some element of consistency across an organization with differing server-side implementations. For clients like that, the server-side integration piece is really a non-starter unless they're investin

[2016-06-16 15:31] lukeaskew commented on #83
👍 Great stuff.

We do something similar with the toolkit as a dependency of another project. Typically its deployed to a CDN and referenced as a config on the server-side e.g. `cdn.url.com/v1.0.0/assets/toolkit/scripts/toolkit.js`

The closest we've gotten to a smooth server-side integration of templates is code generation via a script. We run the script agains the materials and it generates `.php

[2016-06-16 15:53] gerardo-rodriguez commented on #83
Thanks @LukeAskew! 😄

Yep, @erikjung, @tylersticka and @grigs covered it well. It's an interesting challenge for sure and it'll be awesome to discover even more efficient ways of handling this as we move into the future. Very exciting to think about. 😉

[2016-06-16 21:06] bradfrost commented on #83
I'm excited a lot more people are talking about achieving the Holy Grail. I'm working with an organization who has their pattern library integrated into their backend system, which allows the pattern library and production environment to stay in sync. Hooray! But the downside is that in order to contribute to or manipulate the patterns in any way (for rapid prototyping, etc) you have to spin up th

[2016-06-16 21:35] micahgodbolt commented on #83
We're doing exactly this at Red Hat right now. We're writing all of our component/layout templates in Twig (supporting both PHP and Node) and distributing them via bower to redhat.com's Drupal repo. Drupal then renders its data directly through those exact templates. So then, along with the bower repo's CSS and JS, they have everything they need to render our design system.

### The challenge

The

[2016-06-16 21:56] EvanLovely commented on #83
Here's a sample of how we've done this with Drupal 8 & Pattern Lab 2 using its Twig Engine: https://github.com/phase2/drupal-lab

[2016-06-17 12:22] rikschennink commented on #83
The current project I'm working on we're doing something similar to @micahgodbolt but instead of PHP it's Java Spring.

I setup patterns and base templates, then fill them with mock data. the templates then get auto injected in the backend system where they use JTwig to generate the HTML with live data.

I've got the benefit of being able to quickly build components without the hassle of setting u

[2016-06-17 15:00] paulmsmith commented on #83
Excellent discussion here! 👍

To chime in, I worked on a large multinational site that did achieve an organisational Holy Grail. Using Nunjucks we developed a design system that allowed templates and macros to be written once in the style-guide but consumed directly by the production environment server-side and client-side views.

Server-side was: (Node+Express+(Mongo populated from SDL Tridion)+N

[2016-06-17 16:17] micahgodbolt commented on #83
@paulmsmith great to hear about this approach used elsewhere! Did you use anything specific to define your component schemas? And if you did, how did you take advantage of them?

We on a whim decided to use JSON Schemas to define our presenter data needs, and it turned out to be an amazing choice. Not only can we validate the data before we send it to the templates, but we can also use the schema

[2016-06-17 19:40] paulmsmith commented on #83
@micahgodbolt We did, using [SDL Web/Tridion](http://www.sdl.com/cxc/digital-experience/web-experience-management/web-content-management-system.html), a very powerful content management system that ships with what is essentially a full fledged version of what it appears you've nicely done with your Pattern Kit. It comes with a UI for defining schemas and creating components out of the box and uses

[2016-06-17 19:57] paulmsmith commented on #83
Has anybody tried: [acetate](http://acetate.io/) - One to add to the list perhaps? This is nunjucks based out of the box and is powerful for creating quick prototypes or perhaps being used for a pattern library.

[2016-06-17 19:57] micahgodbolt commented on #83
@paulmsmith thanks! Excited to hear others pursuing the same ideas. I'm a big fan of Fractal. Quite a few similarities between it and Pattern Kit.

[2016-06-30 17:09] mattWillis commented on #81
@erikjung Sorry for the delay in getting back to you! I have tried to install the package using your suggested method but still am getting: `Invalid name: "@cloudfour/hbs-helpers"`

Bummed that I can't try out your project as it seems like it would be a great tool!

[2016-07-21 23:32] #79 closed, assigned to nobody

[2016-08-10 14:52] derekrushforth opened #85 "Notes property not working when defined via pattern collection"
Hey Folks!

The `name` and `order` properties inside of collection patterns seem to be working great, however `note` isn't rendering anything for me. I saw that this was defined in the [example](https://github.com/cloudfour/drizzle/blob/master/src/patterns/elements/typographic/collection.yaml#L7), so I figured it was possible.

[2016-08-11 22:19] ghost commented on #54
What about using a custom toolkit setup different from Drizzle, is that possible? With my own browser-sync, watch, sass and webpack gulp tasks? I saw you have a drizzle-builder package, would that be the way to go?

Really looking forward to using Drizzle, this looks like the tool we've been searching for for our pattern library!

[2016-08-12 02:52] erikjung commented on #54
@guilambert

Yes, you could in theory use a clone of this repo (or your own starting point) and simply include the `drizzle-builder` package (which is just a Promise-returning function) to handle the template/data/content compilation.

We plan to rewrite the builder to be a bit more flexible in general (for example, allowing more template options other than Handlebars).

[2016-08-12 02:57] erikjung commented on #85
Hi @derekrushforth,

This is an inconsistency that we're aware of and plan on addressing in the `drizzle-builder` package.  Some of the meta data properties (e.g. `name`, `order`) are hoisted to a higher level in the template scope for convenience, while others remain namespaced in the `data` object.

Can you try accessing the property in your template as `data.notes` and see if that works?

[2016-08-12 13:39] ghost commented on #54
@erikjung Thank you! I will give it a try and let you know.

[2016-08-12 14:36] ghost commented on #54
So basically just have a copy of the content `src` directory, and then have my own tasks setup at the root along with `drizzle-builder` to handle the compilation?

[2016-08-12 15:58] ghost commented on #54
Update, added `drizzle-builder` to my devDeps, added the following to my gulpfile (drizzleConfig is the same as the [cloudfour-patterns one](https://github.com/cloudfour/cloudfour.com-patterns/blob/master/config.js)):

[code]

And I get this stack error when running `gulp drizzle`:

[code]

Thought the `timestamp` helper came from `@cloudfour/hbs-helpers` so I also installed it, but still no chanc

[2016-08-12 17:30] erikjung commented on #54
@guilambert

In addition to including that helpers package, you'll also need to pass the helpers along to the `helpers` property of the builder config.

The assignment is done in the Drizzle Gulpfile like this:

[code]

(https://github.com/cloudfour/drizzle/blob/master/gulpfile.js#L11-L12)

[2016-08-12 17:35] ghost commented on #54
Funny I just saw that while looking at the gulpfile just at this very moment :wink:

I will take another shot at it, thanks again!

[2016-08-12 18:33] ghost commented on #54
Great the drizzle builder works now with that place.

Now I'm struggling with paths being outputted. My drizzle instance is located in `resources/drizzle/`, and I want to run the `drizzle-builder` from my root `gulpfile.js`:

[code]

I tried setting the `basedir` for each `src` by removing `resources/drizzle/src/` but does not work. Both the path for building and the path outputted in those files

[2016-08-18 01:59] erikjung commented on #54
@guilambert

Could you provide an example repo or a `tree` output of your directory structure? This path issue you're describing is likely something specific to the builder. Having something to test against will make this a bit easier to diagnose.

A few things to try:
1. Prefix your relative paths with `./` (e.g. `./resources/drizzle...`)
2. Check how the relative paths are being resolved to abso

[2016-08-18 13:24] ghost commented on #54
Thanks @erikjung, will test that out and let you know. Appreciate the help, and hopefully I'll be able to give back soon to the project as I have ideas/suggestions for the project 😉

[2016-08-24 23:28] outofculture opened #86 "notice new/deleted files and update the browser"
I think this mostly boils down to `gulp.watch` being not nearly as awesome as `gulp-watch`. I messily fixed this in our fork [1], but you'll probably want to keep the separation of config and tasks somehow (or not; I certainly didn't feel the need to do so).

[1] - https://github.com/cloudfour/veelo-patterns/pull/4/commits/50a4b972c38b5fc9a6ce5f71f5c6baf76250b300

[2016-08-26 13:07] giuseppeg opened #87 "Handlebars Partial blocks don't work for Patterns"
Hi there,
do [handlebars partial blocks](http://handlebarsjs.com/partials.html#partial-block) work only for the [styleguide templates](https://github.com/cloudfour/drizzle/tree/master/src/templates) or can I use them in Pattern templates as well?

I could use `embed` but `partial-blocks` are neat.

Here's what I am trying to do:

In `patterns/components/MyComponent/index.hbs`:

[code]

Somewhere e

[2016-08-26 16:12] erikjung commented on #87
@giuseppeg

That's interesting. This is definitely not by design, so we'll look into it.

[2016-08-26 16:14] erikjung commented on #86
@outofculture This is something we've been annoyed with too. We will consider using `gulp-watch`, thanks for the recommendation.

[2016-08-26 16:50] erikjung commented on #87
@giuseppeg

Can you confirm that every instance of the partial in question is being invoked using the block syntax  (`{{#>`)? In my testing, I got this same error, but realized that it was because I had used the partial multiple times (for different pattern variations), some with `{{embed}}`.

If you need to use _either_ the block syntax or `{{embed}}` on a component partial, you can also try addi

[2016-08-26 18:14] outofculture opened #88 "gracefully recover from errors in gulp chain"
CSS syntax errors should not require a server restart. Yeah, I know; yet another thing that will be fixed by gulp 4. https://github.com/floatdrop/gulp-plumber offers a solution in the interim. I did not see an obvious means to include plumber in the gulpfile drizzle uses, however, short of rewriting most of the tasks.

[2016-08-29 10:20] giuseppeg commented on #87
Sorry @erikjung I was out for the weekend.

Yes I've used the block syntax.

<blockquote>
If you need to use either the block syntax or {{embed}} on a component partial, you can also try adding logic to check for @partial-block
</blockquote>

Do you mean if I want to use a template as embed AND partial? If so, no it is not my case.

It seems that drizzle is just not looking at the `patterns/` fold

[2016-08-29 17:59] erikjung commented on #87
@giuseppeg

I looked into this a bit further, and it appears you _can_ use `{{>@partial-block}}` as long as some care is taken for base patterns.

Here is an example that builds with no error:
https://github.com/cloudfour/drizzle/compare/debug-issue_87

This is not intuitive, but it kind of makes sense. All patterns are registered as partials, and they are also _rendered_ as patterns unless you pu

[2016-08-29 19:00] giuseppeg commented on #87
@erikjung awesome man! Thank you so much for debugging this for me :)
I will try your suggestions tomorrow.

[2016-08-30 15:14] giuseppeg commented on #87
@erikjung the approach seems to be working, however it explodes when I use it as simple partial without the block syntax:

[code]

Works

[code]

Doesn't work: `RangeError: Maximum call stack size exceeded`

[code]

This should display the default content right?

[2016-08-30 19:43] erikjung commented on #87
@giuseppeg

That should work fine. I added another example to this test branch to verify the plain partial usage, and I wasn't able to reproduce that error: https://github.com/cloudfour/drizzle/compare/debug-issue_87

Can you pull that branch and verify?

[2016-08-31 08:21] giuseppeg commented on #87
Here is a diff of the part that cause the `Maximum call stack size exceeded`

If I remove

[code]

the build doesn't break

[code]

[2016-08-31 16:57] freyley opened #89 "Could npm build errors get reported to the Drizzle UI somehow?"
We've been building components in Atom on one side of the screen, with the port-3000 Drizzle UI on the left side of the screen. When we had syntax errors, we had to switch to terminal to find the error that npm was spitting out - it'd have been awesome if the Drizzle UI had shown us that npm was erroring somehow.

Here are some examples of syntax errors that didn't kill npm, but did prevent us fro

[2016-08-31 19:20] erikjung commented on #87
@giuseppeg

Thanks for the additional info. It looks like this is an issue that affects Handlebars itself: https://tonicdev.com/erikjung/57c72b19ad12611300cb9f58

^ Same error conditions (no error when removing the `patterns.components.nav.item-link` partial)

[2016-08-31 19:23] erikjung commented on #89
That sounds like a good idea to me.

Looks like we might be able to leverage Browsersync's notify method: https://www.browsersync.io/docs/api#api-notify

Improved error handling in general is definitely needed. We'll have to make sure errors like this don't interrupt the server.

[2016-08-31 19:25] erikjung commented on #88
Related: #89

@outofculture You bring up a good point about the Gulp tasks. We may change it so that the tasks are defined within this project and not a separate package.

[2016-08-31 21:16] giuseppeg commented on #87
@erikjung I see, thanks for taking the time to dig into this issue!
I am using handlebars for the first time so I thought I was doing something wrong.

[unrelated] I am working (hacking) on a fork of drizzle that integrates suitcss and what I think is a great (better) folders structure, I am also considering to make a template-engine agnostic builder pkg that uses consolidate.js or metalsmith-layo

[2016-08-31 21:34] erikjung commented on #87
@giuseppeg We use SUIT on most of our projects, so that's great 👍

The template handling is also something we plan on improving for 1.0. We've received some good feedback on it, and using Consolidate seems to make a lot of sense.

[2016-08-31 23:04] tylersticka commented on #87
That's how we ended up making Drizzle (forked Fabricator)!

Our team welcomes contributions and collaborations. If you have ideas, proposals or wish to discuss some aspect of the hack/fork/project you're working on to see if your ideas would be a good fit for Drizzle proper, please don't hesitate to create issues or ping any of us!

![teamwork](https://cloud.githubusercontent.com/assets/69633/1814

[2016-09-12 14:09] yodasw16 opened #90 "Adding arbitrary code samples to patterns"
Is there a way to add arbitrary code samples to a pattern template? A few examples:
- to show different markup than what is rendered above the markup sample
- to show both the markup that renders the pattern and some additional markup that isn't rendered
- to share the CSS for a pattern

[2016-09-13 19:08] erikjung commented on #90
@yodasw16 We have also experienced the need for this kind of flexibility.

Are you thinking that this would be a new property defined in the front-matter of a pattern with the arbitrary code provided as a fenced code block?

As a temporary workaround, you can always include code samples within the `notes` front-matter property (since it is parsed as Markdown), and use the `sourceless` flag to hide

[2016-10-21 20:48] yodasw16 commented on #90
Yeah, I think it would have to either be a property in the front-matter or for things like showing css or js maybe having another file in the directory that get's pulled in to another `<pre><code>`. Not sure how that would work, but it would be useful.

[2016-10-21 23:48] yodasw16 opened #91 "Using baseurl in patterns"
I saw in the default template `{{@root.baseurl}}` so I tried to use it in a pattern to point to icons that I added to the assets directory. Using it here adds an extra `../`. From what I can tell this happens because `@root` is the initial context that the template was executed in. Is there a way to use this in a pattern that I am just not seeing or do I have to hard code the directory levels?

I'

[2016-10-23 22:27] erikjung commented on #91
@yodasw16 What path output do you get when using just `{{baseurl}}/assets/...` without the `@root`?

[2016-10-23 22:35] yodasw16 commented on #91
Same, I still get `../../../`

Another thing that is very weird about it is that I didn't notice an issue until pushing it to gh-pages. In dev, even though the path is wrong, the icon shows up. Once I run `gulp demo` and view it there the images don't load (which they shouldn't based on the path).

[2016-11-01 21:48] tylersticka commented on #74
The latest `master` is working for me now. 👍

Tested on my home PC build running the latest Windows 10, node 4.2.1 and npm 3.3.10.

[2016-11-06 20:10] paulmsmith commented on #83
@rikschennink - How did I miss your comment previously. Do you have an example of what you describe online? That sounds like it could be very useful to my organisation that run both Node and Java with Spring.

[2016-11-08 17:38] #74 closed, assigned to nobody

[2016-11-10 12:22] rikschennink commented on #83
@paulmsmith I don't know :-)

Don't have an online repo for this. I'm no backend dev but this is what we are doing:
1. We use [jTwig](https://github.com/jtwig/jtwig) on the backend (Spring) and [Twig.js](https://github.com/twigjs/twig.js) on the front-end
2. Front-end dev (in this case me) builds templates and partials and feeds mock data into them.
3. Build is done with Gulp and Browsersync is us

[2016-11-13 19:48] nickdunn commented on #83
At @wearefriday we do something very similar to @micahgodbolt. For the build of https://www.nuffieldhealth.com (about 18 months ago now) we swapped our Java CMS's templating engine from JSP to handlebars. We then developed components and page layouts using handlebars JSON "mock" files; using a simple Node/express app to serve them as a styleguide.

The JSON files represent the data interface betwe

[2017-02-04 19:38] nicolemors opened #93 "Global variables not being complied in dist"
I am pretty sure this is an issue with `postcss-cssnext`... but I can't figure it out. I even tried their [glitter chat](https://gitter.im/MoOx/postcss-cssnext?at=58960e541319d8183ef093a7).

I am using Drizzle for a project and variables just stopped working, I also downloaded a fresh instance of Drizzle and I had the same issue 😑 :
![no-variables](https://cloud.githubusercontent.com/assets/189529

[2017-02-04 20:03] erikjung commented on #93
@nicolemors Can you expand on that a bit? PostCSS uses this plugin to handle custom properties: https://github.com/postcss/postcss-custom-properties

The expected output would not have your `:root` definitions in it (unless you configured the plugin using the `preserve` option). The main function of the plugin is to replace the property _references_ with their corresponding values:

### Input

[co

[2017-02-04 22:25] nicolemors commented on #93
Okay, I guess my real problem is that it's not watching/running when I make changes. The variables are actually converting, but I have to manually run `gulp` to see any changes I am making.
PS: thanks for a speedy reply... on _saturday_

[2017-02-05 16:13] nicolemors commented on #93
I figured this out! Closing this issue.

[2017-02-05 16:13] #93 closed, assigned to nobody

[2017-02-06 16:58] tylersticka commented on #93
@nicolemors What was it, out of curiosity?

[2017-02-06 17:04] nicolemors commented on #93
I ran updates on my machine, I ended up just using my werk machine which I had not updated yet... ooooh apple thanks for wasting my day.

[2017-11-03 20:43] derekshirk opened #96 "Add .DS_Store to .gitignore"
Consider adding `.DS_Store` to `.gitignore` file.

[2017-11-03 20:46] tylersticka commented on #96
The only reason it's not there already is that our old Boxen config added a `.gitignore` file to everyone's home directories, which some of us have continued using: https://github.com/tylersticka/dotfiles/blob/master/home/.gitignore

[2017-11-03 21:52] derekshirk opened #97 "Discuss dev dependency gulp-gh-pages"
`gulp-gh-pages` is currently listed as a dev dependency in `package.json`. Is this still necessary?

https://github.com/cloudfour/drizzle/blob/5fdd23051392a9061c1a374915599f7f5493460c/package.json#L41

[2017-11-03 22:28] tylersticka commented on #97
Maybe, maybe not. See #72 for history.

[2017-11-03 23:12] derekshirk opened #98 "Fix awkward size/positioning of drizzle logo in drizzle-Nav-header"
Adding `u-flex` to `drizzle-Nav-header a`. will resolve the awkward size and positioning of the default Nav header at all breakpoints.

**Before**
<img width="225" alt="before" src="https://user-images.githubusercontent.com/1427548/32399252-d002860a-c0b1-11e7-8d2c-319c0f50170e.png">

**After**
<img width="226" alt="after" src="https://user-images.githubusercontent.com/1427548/32399259-d5e10420-c0b

[2017-11-15 16:41] edouard-lopez commented on #31
Nice works guys, do you plan to update the documentation?

[2017-11-21 18:31] tylersticka opened #99 "Frame-thumb max-width should be none"
So global `iframe { max-width: 100%; }` settings (super common) don't conflict.

[2017-12-06 11:11] edouard-lopez opened #100 "Standalone pages"
Is it possible to create pages that live outside the main navigation and use their own templates?

For instance, we want to create full standalone page to demonstrate some layout (e.g. mobile, hero, etc.)

[2017-12-06 16:40] tylersticka commented on #100
It is!

Any page in the `pages/` directory will be output, and you can specify a layout template in Frontmatter.

For example, in our cloudfour.com pattern library we have a `pages/sandbox/` directory for page prototypes: https://github.com/cloudfour/cloudfour.com-patterns/tree/master/src/pages/sandbox

These reference layout templates found here in the Frontmatter: https://github.com/cloudfour/cl

[2017-12-12 09:40] edouard-lopez commented on #100
Thanks the `layout` property do indeed fit my need.

[2017-12-12 09:40] #100 closed, assigned to nobody

[2017-12-13 21:18] tylersticka opened #101 "Fresh build breaks due to outdated dependencies"
Dependencies (both organizational and public) are way out of date. Default build fails as a result.

(Issue originally reported by @nicolemors)

[2017-12-13 21:19] tylersticka commented on #54
Related: cloudfour/core-gulp-tasks#55

[2018-02-08 18:57] nefairious opened #102 "The nav is broken"
Direct from the template clicking the nav arrow doesn't trigger the menu. Never has. Please fix this soon. My ideal nav trigger is an off-canvas push from the left side but i'd settle with it just working.

[2018-02-08 19:05] tylersticka commented on #102
Sorry to hear the nav hasn't been playing nice. ☹️

Unfortunately, I haven't been able to reproduce the issue. I just downloaded and ran `npm start` on a fresh copy of Drizzle, and it seems to be working as I'd expect it to:

![drizzle-nav](https://user-images.githubusercontent.com/69633/35992591-8717a0e2-0cbf-11e8-815d-0f213b443bb3.gif)

Some info that might help:

- What browser are you encounte

[2018-02-08 19:16] nefairious commented on #102
Thanks for the quick response.
It took 3 times but i finally got a download that worked.
I'm attributing it to pulling all the files out of the main Drizzle folder
and dropping it directly into my project folder.
Yes! I don't have to change to another styleguide generator!

[2018-02-08 19:16] #102 closed, assigned to nobody

[2018-06-21 20:35] tylersticka commented on #101
@calebeby First priority should be diagnosis: Is this a simple dependency issue, does this require a big overhaul of the build process, etc.?

Possibly (probably?) related issue: cloudfour/core-gulp-tasks#63

[2018-06-21 21:34] #96 closed, assigned to calebeby

[2018-06-21 21:42] calebeby commented on #97
Do we still need the `demo` functionality? (Is that a feature that is actually used?)

[2018-06-21 21:43] calebeby commented on #97
Should I switch it from `gulp-gh-pages` to `gh-pages`? Should I try to switch it to deploy it to netlify?

[2018-06-21 22:03] tylersticka commented on #97
Hmm... so I think what's happened is that when we launched Drizzle, the GitHub demo had to occupy a special `gh-pages` branch:

https://github.com/cloudfour/drizzle/blob/6d53e7d4d20e671c9c55da2362573a246bc9a2cd/gulpfile.js#L48-L58

While this is only necessary for the demo, I think it means we can't remove it unless we [redo how the demo is sourced](https://help.github.com/articles/configuring-a-p

[2018-06-22 17:37] gerardo-rodriguez commented on #97
@tylersticka @derekshirk I honestly can't remember if we'd shifted over to using Netlify around the time of #72. I wouldn't mind shifting it over to Netlify. Do either of you see a reason why we shouldn't do this?

/cc @calebeby

[2018-06-22 19:14] calebeby commented on #101
@tylersticka the build seems to be working. Does it work for you?

[2018-06-22 19:47] gerardo-rodriguez commented on #101
Hmm...I also just tried this and it builds fine for me as well. 🤔

Steps I followed:

0. Jump into `master` branch and pulled the latest

0. Ran `npm start`

Is that what wasn't working for you @tylersticka?

[2018-06-23 00:05] tylersticka commented on #101
- [x] Clone fresh copy
- [x] Run `npm start`… works! 👍
- [x] Kill `node_modules`
- [x] `rm .nvmrc`
- [x] `nvm use node` (switches to `v10.3.0`)
- [x] Run `npm start` again… also works! 👍

Did you change anything? 🤔

@nicolemors Can you check to see if the problem is resolved for you, too?

[2018-06-23 00:11] tylersticka commented on #97
@gerardo-rodriguez We use Netlify on our projects, but the Drizzle demo is in GitHub pages: http://cloudfour.github.io/drizzle/

At the time, I think our logic was that there wasn't a need to add a separate hosting dependency for a simple demo. I also think it was when Netlify was young and maybe didn't have as nice of a free plan? I'm open to switching this up if we decide to host the demo elsewh

[2018-07-02 16:21] calebeby commented on #101
🤷‍♂️ It seems to work even if I check out 5fdd23051392a9061c1a374915599f7f5493460c, which was before I made any changes.

@tylersticka @gerardo-rodriguez can we close this then?

[2018-07-02 16:34] tylersticka commented on #101
@calebeby I think so.

@nicolemors If you encounter this again, please re-open and let us know what version of Node you're using.

[2018-07-02 16:35] #101 closed, assigned to calebeby

[2018-07-02 23:58] #66 closed, assigned to calebeby

[2018-07-05 19:07] calebeby commented on #97
So if we want to keep the `demo` functionality, and are fine with sticking to GitHub pages for it, I don't think there is a reason to remove the `gulp-gh-pages` dependency. Can I close this?

[2018-07-05 21:24] gerardo-rodriguez commented on #97
Good point @tylersticka. If I'm honest, this is something I wouldn't want to do unless it absolutely _had_ to be done. 😬

@calebeby This sounds correct to me.

[2018-07-05 21:35] calebeby commented on #97
OK, closing

[2018-07-05 21:35] #97 closed, assigned to calebeby

[2018-07-12 16:57] calebeby commented on #54
![](https://github.trello.services/images/mini-trello-icon.png) [JS Toolkit Scripts/Webpack/Copy](https://trello.com/c/1xTMUueN/3-js-toolkit-scripts-webpack-copy)

[2018-07-19 17:35] calebeby opened #106 "Use postcss-preset-env"
New toolkits created with drizzle should have `postcss-preset-env` already set up

[2019-09-10 20:57] #83 closed, assigned to nobody

[2020-04-07 10:11] CapsE commented on #91
Same Problem here. Did you ever manage to fix this?

EDIT:
I found out that the "getBaseUrl" function in utils/context.js considers the complete path to html files when creating the relative url. But patterns will be grouped in drizzle and displayed on a single html page. So while the path might be correct for the source files it doesn't consider the rendered files.